
    <div class="container, background-color">
      <h1>Découvrez nos espaces à cultiver <i class="fas fa-leaf"></i></h1>
      <div class="potager-grid">
        <% @potagers.each do |potager| %>
        <%= link_to potager do %>
        <div class="card-trip">
            <% if potager.photo.attached? %>
              <%= cl_image_tag potager.photo.key, class:"card-img" %>
            <% else %>
            <%= image_tag 'jardins-partages.jpg', class:"card-img" %>
            <% end %>
            <div class="card-trip-infos">
              <h2><%= potager.name %></h2>
              <h3><%= potager.surface %> à cultiver</h3>
              <p><%= potager.description.truncate(25)%>
              <p class="card-trip-pricing"><%= potager.price%>€/mois</p>
              <p> <i class="far fa-heart"></i></p>
              </div>
          </div>
          <%end%>
        <% end %>
        </div>
    </div>
