<!-- Name / Address -->
    <div class="container py-4">
      <div class="row">
        <div class="col-md-12">
          <h1><%= @potager.name %></h1>
          <p><%= @potager.address %></p>
        </div>
      </div>
      <div class="row">
        <% if @potager.photos.present? %>
          <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <% @potager.photos.count.times do |photonumber|%>
                  <li data-target="#carouselExampleIndicators" data-slide-to="<%= photonumber %>" <%= 'class="active"' if photonumber == 0 %>></li>
                <% end %>
              </ol>
              <div class="carousel-inner" style="border-radius: 30px;">
                <%= @potager.photos.each_with_index do |photo, i| %>              
                  <div class="carousel-item <%= "active" if i == 0 %>">
                    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class:"d-block w-100" %>  
                  </div>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a><a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        <% end %>

        <div class="col-md-6">
          <div class="d-flex align-content-between flex-wrap col-md-12">
            <% if @potager.photos.present? %>
              <% @potager.photos.each do |photo| %>
                <div class="col-md-6 p-1">
                  <%= image_tag photo, class:"d-block w-100 h-100" %>
                </div>
              <% end %>
            <% end %>
          </div>      
        </div>
      </div> 

      <div class="row">
        <div class="col-md-8">
          <!-- Potager card -->
            <div class="d-flex pt-4 pb-4 border-bottom">
              <div><%= image_tag "https://konsultan.online/wp-content/uploads/avatar-7.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></div>
              <div class="pl-2"><p>Proposé par <%= @potager.user.email.split("@").first %></p></div>
            </div>

            <div class="pt-4 pb-4 border-bottom">

              <p><%= @potager.description %></p>
              <%= link_to "Retour aux potagers", potagers_path, class:"btn btn-secondary" %>
            </div>
        </div>

        <div class="col-md-4">
          <!-- Booking card -->
          <div class="bg-white p-4 position-sticky" style="top:0; box-shadow: 0 5px 5px rgba(0,0,0,0.2); border-radius: 8px;">
              <div class="d-flex justify-content-between mt-2">
                <p><strong><%= @potager.price %>€</strong>/m²</p>
              </div>

              <%= simple_form_for [@potager, @booking] do |f| %>
                <%= f.input :start_date, :as => :date, :order => [:day, :month, :year] %>      
                <%= f.input :end_date, :as => :date, :order => [:day, :month, :year] %>
                <%= f.button :submit, "Réserver", class: "btn btn-primary w-100" %>
              <% end %>

            <div class="d-flex justify-content-between mt-3 border-bottom">
              <p><%= @potager.price %>€ x <%= @potager.surface %></p>
              <p>200€</p>
            </div>

            <div class="d-flex justify-content-between mt-3">
              <p><strong>Total</strong></p>
              <p><strong>200€</strong></p>
            </div>
          </div>
          <!-- /checkout -->
        </div>
      </div>
      <div class="pt-4 pb-4">
        <div class="pb-2"><h3>Emplacement</h3></div>
        <div id="map"
          style="width: 100%; height: 600px; border-radius: 30px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

    <%# <!-- Including Bootstrap JS (with its Popper.js / jQuery dependency) so that dynamic components work -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script> %>

